
@media (max-width: 768px){
	body{
	background: url("Images/brickwall2.jpeg");
	padding: 0;
	margin: 0 auto;
	}

#Maincontainer{
	background-color:#006837;
		height: 160px;
	    
       }
#Maincontainer p{
	color:#cca737;
	font-size: 45pt; 
    margin: 0 auto;
	text-align: center;
	font-weight: bold;
	font-family: 'Bree Serif', serif;

	   }

#Maincontainer2{
	background-color: black;
	height: 62px;
	
		
      }
#Maincontainer2 ul{
	list-style-type: none;
	display: inline;
	margin: 0;
	padding: 0;
      }

#Maincontainer2 ul li{
	display: inline;
	color: #FFFFFF;
	margin-left: 77px;
	font-size: 23px;
    font-family: 'Crimson Text', serif;
      }

#Maincontainer2 ul li a{
	text-decoration: none;
    color: #ffffff;
    margin: 0;

	}

#Maincontainer2 ul li a:hover{  
	color: #cca737;
	transition: color 1s;
    }

#Maincontainer2 ul li a:active{
	color: #44865F;
	transition: color 2s;

    }

#Maincontainer2 ul li a:visted{
	color: #720000;
	transition: color 1s;
   }

#MainContainer3{
	background-color: #FFFFFF;
	width: 650px;
	height: 5300px;
	margin: 0 auto;

	}

.ProductContainer img{
	width: 70%;
	margin: 0 auto;
	display:block;
	
   }

.ProductContainer p{
	color:#000000;
	font-size: 35pt;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	font-family: 'Crimson Text', serif;
   }


#Hours p{
	font-size:25pt;
	color: #006837;
	font-weight: bold;
	text-align: center;
	font-family: 'Playfair Display', serif;
   }


.ProductContainer3 p{
	color: #000000;
	font-size: 15pt; 
    margin: 0 auto;
    text-align: center;
    font-family: 'Playfair Display', serif;

   }


#Contact p{
	font-size:25pt;
	color: #006837;
	font-weight: bold;
	text-align: center;
	font-family: 'Playfair Display', serif;
   }

#Dough img{
	width: 35%;
	margin-left: 90px;
	display: inline;
	position:relative;
   }	

#Address p{
	color: #000000;
	font-size: 15pt;
	margin-left: 285px;
	bottom: 300px;
	position: relative;
	text-align: center;
	font-family: 'Playfair Display', serif;

}


#About p{
	font-size:25pt;
	color: #006837;
	font-weight: bold;
	text-align: center;
	font-family: 'Playfair Display', serif;
}

#AboutUs p{
	font-size: 14pt;
	color:black;
	text-align: center;
	font-family: 'Playfair Display', serif;
	
}

#Menu p{
	font-size:25pt;
	color: #006837;
	font-weight: bold;
	text-align: center;
	font-family: 'Playfair Display', serif;
}

.ProductContainer9 img{
	width: 70%;
	margin: 0 auto;
	display:block;

}

#MenuT p{
    font-size:17pt;
	color: #000000;
	font-weight: bold;
	text-align: center;
	font-family: 'Playfair Display', serif;
	
}

#Info1 p{
	font-size:13pt;
    color: #000000;
	text-align: center;
	font-family: 'Playfair Display', serif;
	}


#Review p{
font-size:25pt;
	color: #FF0004;
	font-weight: bold;
	text-align: center;
	font-family: 'Playfair Display', serif;
   }
	
}
